allow init self:udp_socket { bind setopt write read };
allow init port:udp_socket name_bind;
allow init node:udp_socket node_bind;

allow init self:tcp_socket { create ioctl setopt bind listen };
allow init port:tcp_socket name_bind;
allow init node:tcp_socket node_bind;

