allow perfprofd sysfs_devices_system_iosched:file rw_file_perms;

# read mediaserver status
allow perfprofd mediaserver:file { read open };

#cm extra opts
unix_socket_connect(perfprofd, thermal, thermal-engine)
