#!/bin/bash

export VENDOR=motorola
export DEVICE=falcon
# Comment these out if there is no common device tree for this device
export COMMON_DEVICE=msm8226-common
export BOARD_VENDOR=motorola-qcom
export TARGET_BOARD_PLATFORM=msm8226

../../../vendor/cm/tools/extract-files.sh $@
